LingoAtTaskService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.attask.lingosys.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.attask.lingosys.com/" name="LingoAtTaskService">
    <types>
        <xsd:schema>
            <xsd:import namespace="http://ws.fault.lingosys.com" schemaLocation="http://76.164.32.151:9090/LingoAtTaskService?xsd=1"/>
        </xsd:schema>
        <xsd:schema>
            <xsd:import namespace="http://ws.attask.lingosys.com/" schemaLocation="http://76.164.32.151:9090/LingoAtTaskService?xsd=2"/>
        </xsd:schema>
    </types>
    <message name="getUser">
        <part name="parameters" element="tns:getUser"/>
    </message>
    <message name="getUserResponse">
        <part name="parameters" element="tns:getUserResponse"/>
    </message>
    <message name="ResourceNotExistFault">
        <part xmlns:ns1="http://ws.fault.lingosys.com" name="fault" element="ns1:ResourceNotExistFault"/>
    </message>
    <message name="getClient">
        <part name="parameters" element="tns:getClient"/>
    </message>
    <message name="getClientResponse">
        <part name="parameters" element="tns:getClientResponse"/>
    </message>
    <message name="updateUser">
        <part name="parameters" element="tns:updateUser"/>
    </message>
    <message name="updateUserResponse">
        <part name="parameters" element="tns:updateUserResponse"/>
    </message>
    <message name="ProcessFault">
        <part xmlns:ns2="http://ws.fault.lingosys.com" name="fault" element="ns2:ProcessFault"/>
    </message>
    <message name="getQuotableProjects">
        <part name="parameters" element="tns:getQuotableProjects"/>
    </message>
    <message name="getQuotableProjectsResponse">
        <part name="parameters" element="tns:getQuotableProjectsResponse"/>
    </message>
    <message name="getAttaskProjectID">
        <part name="parameters" element="tns:getAttaskProjectID"/>
    </message>
    <message name="getAttaskProjectIDResponse">
        <part name="parameters" element="tns:getAttaskProjectIDResponse"/>
    </message>
    <message name="getLinguistAccount">
        <part name="parameters" element="tns:getLinguistAccount"/>
    </message>
    <message name="getLinguistAccountResponse">
        <part name="parameters" element="tns:getLinguistAccountResponse"/>
    </message>
    <message name="getUserByUsername">
        <part name="parameters" element="tns:getUserByUsername"/>
    </message>
    <message name="getUserByUsernameResponse">
        <part name="parameters" element="tns:getUserByUsernameResponse"/>
    </message>
    <message name="updateLinguistAccount">
        <part name="parameters" element="tns:updateLinguistAccount"/>
    </message>
    <message name="updateLinguistAccountResponse">
        <part name="parameters" element="tns:updateLinguistAccountResponse"/>
    </message>
    <message name="getClientCompanyView">
        <part name="parameters" element="tns:getClientCompanyView"/>
    </message>
    <message name="getClientCompanyViewResponse">
        <part name="parameters" element="tns:getClientCompanyViewResponse"/>
    </message>
    <message name="getLinguistView">
        <part name="parameters" element="tns:getLinguistView"/>
    </message>
    <message name="getLinguistViewResponse">
        <part name="parameters" element="tns:getLinguistViewResponse"/>
    </message>
    <message name="getClientCompany">
        <part name="parameters" element="tns:getClientCompany"/>
    </message>
    <message name="getClientCompanyResponse">
        <part name="parameters" element="tns:getClientCompanyResponse"/>
    </message>
    <message name="createLinguistContact">
        <part name="parameters" element="tns:createLinguistContact"/>
    </message>
    <message name="createLinguistContactResponse">
        <part name="parameters" element="tns:createLinguistContactResponse"/>
    </message>
    <message name="getTaskService">
        <part name="parameters" element="tns:getTaskService"/>
    </message>
    <message name="getTaskServiceResponse">
        <part name="parameters" element="tns:getTaskServiceResponse"/>
    </message>
    <message name="getLibraryTaskService">
        <part name="parameters" element="tns:getLibraryTaskService"/>
    </message>
    <message name="getLibraryTaskServiceResponse">
        <part name="parameters" element="tns:getLibraryTaskServiceResponse"/>
    </message>
    <message name="getLanguageService">
        <part name="parameters" element="tns:getLanguageService"/>
    </message>
    <message name="getLanguageServiceResponse">
        <part name="parameters" element="tns:getLanguageServiceResponse"/>
    </message>
    <message name="getClientCompanies">
        <part name="parameters" element="tns:getClientCompanies"/>
    </message>
    <message name="getClientCompaniesResponse">
        <part name="parameters" element="tns:getClientCompaniesResponse"/>
    </message>
    <message name="getLinguistCompanies">
        <part name="parameters" element="tns:getLinguistCompanies"/>
    </message>
    <message name="getLinguistCompaniesResponse">
        <part name="parameters" element="tns:getLinguistCompaniesResponse"/>
    </message>
    <message name="attachFileToProject">
        <part name="parameters" element="tns:attachFileToProject"/>
    </message>
    <message name="attachFileToProjectResponse">
        <part name="parameters" element="tns:attachFileToProjectResponse"/>
    </message>
    <message name="updateProjectPricing">
        <part name="parameters" element="tns:updateProjectPricing"/>
    </message>
    <message name="updateProjectPricingResponse">
        <part name="parameters" element="tns:updateProjectPricingResponse"/>
    </message>
    <message name="getLinguistAccounts">
        <part name="parameters" element="tns:getLinguistAccounts"/>
    </message>
    <message name="getLinguistAccountsResponse">
        <part name="parameters" element="tns:getLinguistAccountsResponse"/>
    </message>
    <message name="getLingoNETUsers">
        <part name="parameters" element="tns:getLingoNETUsers"/>
    </message>
    <message name="getLingoNETUsersResponse">
        <part name="parameters" element="tns:getLingoNETUsersResponse"/>
    </message>
    <message name="getSupportedLanguages">
        <part name="parameters" element="tns:getSupportedLanguages"/>
    </message>
    <message name="getSupportedLanguagesResponse">
        <part name="parameters" element="tns:getSupportedLanguagesResponse"/>
    </message>
    <message name="setProjectStatus">
        <part name="parameters" element="tns:setProjectStatus"/>
    </message>
    <message name="setProjectStatusResponse">
        <part name="parameters" element="tns:setProjectStatusResponse"/>
    </message>
    <message name="createAudioTask">
        <part name="parameters" element="tns:createAudioTask"/>
    </message>
    <message name="createAudioTaskResponse">
        <part name="parameters" element="tns:createAudioTaskResponse"/>
    </message>
    <message name="projectCurrent">
        <part name="parameters" element="tns:projectCurrent"/>
    </message>
    <message name="projectCurrentResponse">
        <part name="parameters" element="tns:projectCurrentResponse"/>
    </message>
    <message name="createLNProject">
        <part name="parameters" element="tns:createLNProject"/>
    </message>
    <message name="createLNProjectResponse">
        <part name="parameters" element="tns:createLNProjectResponse"/>
    </message>
    <message name="updateWordCounts">
        <part name="parameters" element="tns:updateWordCounts"/>
    </message>
    <message name="updateWordCountsResponse">
        <part name="parameters" element="tns:updateWordCountsResponse"/>
    </message>
    <message name="updateCategory">
        <part name="parameters" element="tns:updateCategory"/>
    </message>
    <message name="updateCategoryResponse">
        <part name="parameters" element="tns:updateCategoryResponse"/>
    </message>
    <message name="createTaskWithEmail">
        <part name="parameters" element="tns:createTaskWithEmail"/>
    </message>
    <message name="createTaskWithEmailResponse">
        <part name="parameters" element="tns:createTaskWithEmailResponse"/>
    </message>
    <message name="completeProject">
        <part name="parameters" element="tns:completeProject"/>
    </message>
    <message name="completeProjectResponse">
        <part name="parameters" element="tns:completeProjectResponse"/>
    </message>
    <message name="validateUserPassword">
        <part name="parameters" element="tns:validateUserPassword"/>
    </message>
    <message name="validateUserPasswordResponse">
        <part name="parameters" element="tns:validateUserPasswordResponse"/>
    </message>
    <message name="validateUserRole">
        <part name="parameters" element="tns:validateUserRole"/>
    </message>
    <message name="validateUserRoleResponse">
        <part name="parameters" element="tns:validateUserRoleResponse"/>
    </message>
    <message name="getProjectFinancial">
        <part name="parameters" element="tns:getProjectFinancial"/>
    </message>
    <message name="getProjectFinancialResponse">
        <part name="parameters" element="tns:getProjectFinancialResponse"/>
    </message>
    <message name="createClientCompany">
        <part name="parameters" element="tns:createClientCompany"/>
    </message>
    <message name="createClientCompanyResponse">
        <part name="parameters" element="tns:createClientCompanyResponse"/>
    </message>
    <message name="getAccessLevelByUsername">
        <part name="parameters" element="tns:getAccessLevelByUsername"/>
    </message>
    <message name="getAccessLevelByUsernameResponse">
        <part name="parameters" element="tns:getAccessLevelByUsernameResponse"/>
    </message>
    <message name="createLinguistInformation">
        <part name="parameters" element="tns:createLinguistInformation"/>
    </message>
    <message name="createLinguistInformationResponse">
        <part name="parameters" element="tns:createLinguistInformationResponse"/>
    </message>
    <message name="uploadFileToEstimateTask">
        <part name="parameters" element="tns:uploadFileToEstimateTask"/>
    </message>
    <message name="uploadFileToEstimateTaskResponse">
        <part name="parameters" element="tns:uploadFileToEstimateTaskResponse"/>
    </message>
    <message name="attachFileToEstimateTask">
        <part name="parameters" element="tns:attachFileToEstimateTask"/>
    </message>
    <message name="attachFileToEstimateTaskResponse">
        <part name="parameters" element="tns:attachFileToEstimateTaskResponse"/>
    </message>
    <message name="getLinguistStandardRates">
        <part name="parameters" element="tns:getLinguistStandardRates"/>
    </message>
    <message name="getLinguistStandardRatesResponse">
        <part name="parameters" element="tns:getLinguistStandardRatesResponse"/>
    </message>
    <message name="getLingoNETLinguistAccounts">
        <part name="parameters" element="tns:getLingoNETLinguistAccounts"/>
    </message>
    <message name="getLingoNETLinguistAccountsResponse">
        <part name="parameters" element="tns:getLingoNETLinguistAccountsResponse"/>
    </message>
    <message name="getInternalStandardRates">
        <part name="parameters" element="tns:getInternalStandardRates"/>
    </message>
    <message name="getInternalStandardRatesResponse">
        <part name="parameters" element="tns:getInternalStandardRatesResponse"/>
    </message>
    <message name="createFileTreatmentTask">
        <part name="parameters" element="tns:createFileTreatmentTask"/>
    </message>
    <message name="createFileTreatmentTaskResponse">
        <part name="parameters" element="tns:createFileTreatmentTaskResponse"/>
    </message>
    <message name="projectAwaitingClientApproval">
        <part name="parameters" element="tns:projectAwaitingClientApproval"/>
    </message>
    <message name="projectAwaitingClientApprovalResponse">
        <part name="parameters" element="tns:projectAwaitingClientApprovalResponse"/>
    </message>
    <message name="createLNEstimateProject">
        <part name="parameters" element="tns:createLNEstimateProject"/>
    </message>
    <message name="createLNEstimateProjectResponse">
        <part name="parameters" element="tns:createLNEstimateProjectResponse"/>
    </message>
    <message name="createClient">
        <part name="parameters" element="tns:createClient"/>
    </message>
    <message name="createClientResponse">
        <part name="parameters" element="tns:createClientResponse"/>
    </message>
    <message name="getProject">
        <part name="parameters" element="tns:getProject"/>
    </message>
    <message name="getProjectResponse">
        <part name="parameters" element="tns:getProjectResponse"/>
    </message>
    <message name="getClientList">
        <part name="parameters" element="tns:getClientList"/>
    </message>
    <message name="getClientListResponse">
        <part name="parameters" element="tns:getClientListResponse"/>
    </message>
    <message name="loadClient">
        <part name="parameters" element="tns:loadClient"/>
    </message>
    <message name="loadClientResponse">
        <part name="parameters" element="tns:loadClientResponse"/>
    </message>
    <message name="createUser">
        <part name="parameters" element="tns:createUser"/>
    </message>
    <message name="createUserResponse">
        <part name="parameters" element="tns:createUserResponse"/>
    </message>
    <message name="getLingoStaff">
        <part name="parameters" element="tns:getLingoStaff"/>
    </message>
    <message name="getLingoStaffResponse">
        <part name="parameters" element="tns:getLingoStaffResponse"/>
    </message>
    <message name="getLingoUsers">
        <part name="parameters" element="tns:getLingoUsers"/>
    </message>
    <message name="getLingoUsersResponse">
        <part name="parameters" element="tns:getLingoUsersResponse"/>
    </message>
    <message name="projectDead">
        <part name="parameters" element="tns:projectDead"/>
    </message>
    <message name="projectDeadResponse">
        <part name="parameters" element="tns:projectDeadResponse"/>
    </message>
    <message name="createLNTask">
        <part name="parameters" element="tns:createLNTask"/>
    </message>
    <message name="createLNTaskResponse">
        <part name="parameters" element="tns:createLNTaskResponse"/>
    </message>
    <message name="getJAS">
        <part name="parameters" element="tns:getJAS"/>
    </message>
    <message name="getJASResponse">
        <part name="parameters" element="tns:getJASResponse"/>
    </message>
    <message name="completeTask">
        <part name="parameters" element="tns:completeTask"/>
    </message>
    <message name="completeTaskResponse">
        <part name="parameters" element="tns:completeTaskResponse"/>
    </message>
    <portType name="AtTaskWS">
        <operation name="getUser">
            <input wsam:Action="http://ws.attask.lingosys.com/AtTaskWS/getUserRequest" message="tns:getUser"/>
            <output wsam:Action="http://ws.attask.lingosys.com/AtTaskWS/getUserResponse" message="tns:getUserResponse"/>
            <fault message="tns:ResourceNotExistFault" name="ResourceNotExistFault" wsam:Action="http://ws.attask.lingosys.com/AtTaskWS/getUser/Fault/ResourceNotExistFault"/>
        </operation>
        <operation name="getClient">
            <input wsam:Action="http://ws.attask.lingosys.com/AtTaskWS/getClientRequest" message="tns:getClient"/>
            <output wsam:Action="http://ws.attask.lingosys.com/AtTaskWS/getClientResponse" message="tns:getClientResponse"/>
            <fault message="tns:ResourceNotExistFault" name="ResourceNotExistFault" wsam:Action="http://ws.attask.lingosys.com/AtTaskWS/getClient/Fault/ResourceNotExistFault"/>
        </operation>
        <operation name="updateUser">
            <input wsam:Action="http://ws.attask.lingosys.com/AtTaskWS/updateUserRequest" message="tns:updateUser"/>
            <output wsam:Action="http://ws.attask.lingosys.com/AtTaskWS/updateUserResponse" message="tns:updateUserResponse"/>
            <fault message="tns:ProcessFault" name="ProcessFault" wsam:Action="http://ws.attask.lingosys.com/AtTaskWS/updateUser/Fault/ProcessFault"/>
        </operation>
        <operation name="getQuotableProjects">
            <input wsam:Action="http://ws.attask.lingosys.com/AtTaskWS/getQuotableProjectsRequest" message="tns:getQuotableProjects"/>
            <output wsam:Action="http://ws.attask.lingosys.com/AtTaskWS/getQuotableProjectsResponse" message="tns:getQuotableProjectsResponse"/>
            <fault message="tns:ProcessFault" name="ProcessFault" wsam:Action="http://ws.attask.lingosys.com/AtTaskWS/getQuotableProjects/Fault/ProcessFault"/>
        </operation>
        <operation name="getAttaskProjectID">
            <input wsam:Action="http://ws.attask.lingosys.com/AtTaskWS/getAttaskProjectIDRequest" message="tns:getAttaskProjectID"/>
            <output wsam:Action="http://ws.attask.lingosys.com/AtTaskWS/getAttaskProjectIDResponse" message="tns:getAttaskProjectIDResponse"/>
            <fault message="tns:ResourceNotExistFault" name="ResourceNotExistFault" wsam:Action="http://ws.attask.lingosys.com/AtTaskWS/getAttaskProjectID/Fault/ResourceNotExistFault"/>
        </operation>
        <operation name="getLinguistAccount">
            <input wsam:Action="http://ws.attask.lingosys.com/AtTaskWS/getLinguistAccountRequest" message="tns:getLinguistAccount"/>
            <output wsam:Action="http://ws.attask.lingosys.com/AtTaskWS/getLinguistAccountResponse" message="tns:getLinguistAccountResponse"/>
            <fault message="tns:ProcessFault" name="ProcessFault" wsam:Action="http://ws.attask.lingosys.com/AtTaskWS/getLinguistAccount/Fault/ProcessFault"/>
        </operation>
        <operation name="getUserByUsername">
            <input wsam:Action="http://ws.attask.lingosys.com/AtTaskWS/getUserByUsernameRequest" message="tns:getUserByUsername"/>
            <output wsam:Action="http://ws.attask.lingosys.com/AtTaskWS/getUserByUsernameResponse" message="tns:getUserByUsernameResponse"/>
            <fault message="tns:ProcessFault" name="ProcessFault" wsam:Action="http://ws.attask.lingosys.com/AtTaskWS/getUserByUsername/Fault/ProcessFault"/>
        </operation>
        <operation name="updateLinguistAccount">
            <input wsam:Action="http://ws.attask.lingosys.com/AtTaskWS/updateLinguistAccountRequest" message="tns:updateLinguistAccount"/>
            <output wsam:Action="http://ws.attask.lingosys.com/AtTaskWS/updateLinguistAccountResponse" message="tns:updateLinguistAccountResponse"/>
            <fault message="tns:ProcessFault" name="ProcessFault" wsam:Action="http://ws.attask.lingosys.com/AtTaskWS/updateLinguistAccount/Fault/ProcessFault"/>
        </operation>
        <operation name="getClientCompanyView">
            <input wsam:Action="http://ws.attask.lingosys.com/AtTaskWS/getClientCompanyViewRequest" message="tns:getClientCompanyView"/>
            <output wsam:Action="http://ws.attask.lingosys.com/AtTaskWS/getClientCompanyViewResponse" message="tns:getClientCompanyViewResponse"/>
            <fault message="tns:ProcessFault" name="ProcessFault" wsam:Action="http://ws.attask.lingosys.com/AtTaskWS/getClientCompanyView/Fault/ProcessFault"/>
        </operation>
        <operation name="getLinguistView">
            <input wsam:Action="http://ws.attask.lingosys.com/AtTaskWS/getLinguistViewRequest" message="tns:getLinguistView"/>
            <output wsam:Action="http://ws.attask.lingosys.com/AtTaskWS/getLinguistViewResponse" message="tns:getLinguistViewResponse"/>
            <fault message="tns:ProcessFault" name="ProcessFault" wsam:Action="http://ws.attask.lingosys.com/AtTaskWS/getLinguistView/Fault/ProcessFault"/>
        </operation>
        <operation name="getClientCompany">
            <input wsam:Action="http://ws.attask.lingosys.com/AtTaskWS/getClientCompanyRequest" message="tns:getClientCompany"/>
            <output wsam:Action="http://ws.attask.lingosys.com/AtTaskWS/getClientCompanyResponse" message="tns:getClientCompanyResponse"/>
            <fault message="tns:ResourceNotExistFault" name="ResourceNotExistFault" wsam:Action="http://ws.attask.lingosys.com/AtTaskWS/getClientCompany/Fault/ResourceNotExistFault"/>
        </operation>
        <operation name="createLinguistContact">
            <input wsam:Action="http://ws.attask.lingosys.com/AtTaskWS/createLinguistContactRequest" message="tns:createLinguistContact"/>
            <output wsam:Action="http://ws.attask.lingosys.com/AtTaskWS/createLinguistContactResponse" message="tns:createLinguistContactResponse"/>
            <fault message="tns:ProcessFault" name="ProcessFault" wsam:Action="http://ws.attask.lingosys.com/AtTaskWS/createLinguistContact/Fault/ProcessFault"/>
        </operation>
        <operation name="getTaskService">
            <input wsam:Action="http://ws.attask.lingosys.com/AtTaskWS/getTaskServiceRequest" message="tns:getTaskService"/>
            <output wsam:Action="http://ws.attask.lingosys.com/AtTaskWS/getTaskServiceResponse" message="tns:getTaskServiceResponse"/>
            <fault message="tns:ProcessFault" name="ProcessFault" wsam:Action="http://ws.attask.lingosys.com/AtTaskWS/getTaskService/Fault/ProcessFault"/>
        </operation>
        <operation name="getLibraryTaskService">
            <input wsam:Action="http://ws.attask.lingosys.com/AtTaskWS/getLibraryTaskServiceRequest" message="tns:getLibraryTaskService"/>
            <output wsam:Action="http://ws.attask.lingosys.com/AtTaskWS/getLibraryTaskServiceResponse" message="tns:getLibraryTaskServiceResponse"/>
        </operation>
        <operation name="getLanguageService">
            <input wsam:Action="http://ws.attask.lingosys.com/AtTaskWS/getLanguageServiceRequest" message="tns:getLanguageService"/>
            <output wsam:Action="http://ws.attask.lingosys.com/AtTaskWS/getLanguageServiceResponse" message="tns:getLanguageServiceResponse"/>
        </operation>
        <operation name="getClientCompanies">
            <input wsam:Action="http://ws.attask.lingosys.com/AtTaskWS/getClientCompaniesRequest" message="tns:getClientCompanies"/>
            <output wsam:Action="http://ws.attask.lingosys.com/AtTaskWS/getClientCompaniesResponse" message="tns:getClientCompaniesResponse"/>
        </operation>
        <operation name="getLinguistCompanies">
            <input wsam:Action="http://ws.attask.lingosys.com/AtTaskWS/getLinguistCompaniesRequest" message="tns:getLinguistCompanies"/>
            <output wsam:Action="http://ws.attask.lingosys.com/AtTaskWS/getLinguistCompaniesResponse" message="tns:getLinguistCompaniesResponse"/>
        </operation>
        <operation name="attachFileToProject">
            <input wsam:Action="http://ws.attask.lingosys.com/AtTaskWS/attachFileToProjectRequest" message="tns:attachFileToProject"/>
            <output wsam:Action="http://ws.attask.lingosys.com/AtTaskWS/attachFileToProjectResponse" message="tns:attachFileToProjectResponse"/>
            <fault message="tns:ProcessFault" name="ProcessFault" wsam:Action="http://ws.attask.lingosys.com/AtTaskWS/attachFileToProject/Fault/ProcessFault"/>
        </operation>
        <operation name="updateProjectPricing">
            <input wsam:Action="http://ws.attask.lingosys.com/AtTaskWS/updateProjectPricingRequest" message="tns:updateProjectPricing"/>
            <output wsam:Action="http://ws.attask.lingosys.com/AtTaskWS/updateProjectPricingResponse" message="tns:updateProjectPricingResponse"/>
            <fault message="tns:ProcessFault" name="ProcessFault" wsam:Action="http://ws.attask.lingosys.com/AtTaskWS/updateProjectPricing/Fault/ProcessFault"/>
        </operation>
        <operation name="getLinguistAccounts">
            <input wsam:Action="http://ws.attask.lingosys.com/AtTaskWS/getLinguistAccountsRequest" message="tns:getLinguistAccounts"/>
            <output wsam:Action="http://ws.attask.lingosys.com/AtTaskWS/getLinguistAccountsResponse" message="tns:getLinguistAccountsResponse"/>
        </operation>
        <operation name="getLingoNETUsers">
            <input wsam:Action="http://ws.attask.lingosys.com/AtTaskWS/getLingoNETUsersRequest" message="tns:getLingoNETUsers"/>
            <output wsam:Action="http://ws.attask.lingosys.com/AtTaskWS/getLingoNETUsersResponse" message="tns:getLingoNETUsersResponse"/>
            <fault message="tns:ProcessFault" name="ProcessFault" wsam:Action="http://ws.attask.lingosys.com/AtTaskWS/getLingoNETUsers/Fault/ProcessFault"/>
        </operation>
        <operation name="getSupportedLanguages">
            <input wsam:Action="http://ws.attask.lingosys.com/AtTaskWS/getSupportedLanguagesRequest" message="tns:getSupportedLanguages"/>
            <output wsam:Action="http://ws.attask.lingosys.com/AtTaskWS/getSupportedLanguagesResponse" message="tns:getSupportedLanguagesResponse"/>
            <fault message="tns:ProcessFault" name="ProcessFault" wsam:Action="http://ws.attask.lingosys.com/AtTaskWS/getSupportedLanguages/Fault/ProcessFault"/>
        </operation>
        <operation name="setProjectStatus">
            <input wsam:Action="http://ws.attask.lingosys.com/AtTaskWS/setProjectStatusRequest" message="tns:setProjectStatus"/>
            <output wsam:Action="http://ws.attask.lingosys.com/AtTaskWS/setProjectStatusResponse" message="tns:setProjectStatusResponse"/>
            <fault message="tns:ProcessFault" name="ProcessFault" wsam:Action="http://ws.attask.lingosys.com/AtTaskWS/setProjectStatus/Fault/ProcessFault"/>
        </operation>
        <operation name="createAudioTask">
            <input wsam:Action="http://ws.attask.lingosys.com/AtTaskWS/createAudioTaskRequest" message="tns:createAudioTask"/>
            <output wsam:Action="http://ws.attask.lingosys.com/AtTaskWS/createAudioTaskResponse" message="tns:createAudioTaskResponse"/>
            <fault message="tns:ProcessFault" name="ProcessFault" wsam:Action="http://ws.attask.lingosys.com/AtTaskWS/createAudioTask/Fault/ProcessFault"/>
        </operation>
        <operation name="projectCurrent">
            <input wsam:Action="http://ws.attask.lingosys.com/AtTaskWS/projectCurrentRequest" message="tns:projectCurrent"/>
            <output wsam:Action="http://ws.attask.lingosys.com/AtTaskWS/projectCurrentResponse" message="tns:projectCurrentResponse"/>
            <fault message="tns:ProcessFault" name="ProcessFault" wsam:Action="http://ws.attask.lingosys.com/AtTaskWS/projectCurrent/Fault/ProcessFault"/>
        </operation>
        <operation name="createLNProject">
            <input wsam:Action="http://ws.attask.lingosys.com/AtTaskWS/createLNProjectRequest" message="tns:createLNProject"/>
            <output wsam:Action="http://ws.attask.lingosys.com/AtTaskWS/createLNProjectResponse" message="tns:createLNProjectResponse"/>
            <fault message="tns:ProcessFault" name="ProcessFault" wsam:Action="http://ws.attask.lingosys.com/AtTaskWS/createLNProject/Fault/ProcessFault"/>
        </operation>
        <operation name="updateWordCounts">
            <input wsam:Action="http://ws.attask.lingosys.com/AtTaskWS/updateWordCountsRequest" message="tns:updateWordCounts"/>
            <output wsam:Action="http://ws.attask.lingosys.com/AtTaskWS/updateWordCountsResponse" message="tns:updateWordCountsResponse"/>
            <fault message="tns:ProcessFault" name="ProcessFault" wsam:Action="http://ws.attask.lingosys.com/AtTaskWS/updateWordCounts/Fault/ProcessFault"/>
        </operation>
        <operation name="updateCategory">
            <input wsam:Action="http://ws.attask.lingosys.com/AtTaskWS/updateCategoryRequest" message="tns:updateCategory"/>
            <output wsam:Action="http://ws.attask.lingosys.com/AtTaskWS/updateCategoryResponse" message="tns:updateCategoryResponse"/>
            <fault message="tns:ProcessFault" name="ProcessFault" wsam:Action="http://ws.attask.lingosys.com/AtTaskWS/updateCategory/Fault/ProcessFault"/>
        </operation>
        <operation name="createTaskWithEmail">
            <input wsam:Action="http://ws.attask.lingosys.com/AtTaskWS/createTaskWithEmailRequest" message="tns:createTaskWithEmail"/>
            <output wsam:Action="http://ws.attask.lingosys.com/AtTaskWS/createTaskWithEmailResponse" message="tns:createTaskWithEmailResponse"/>
            <fault message="tns:ProcessFault" name="ProcessFault" wsam:Action="http://ws.attask.lingosys.com/AtTaskWS/createTaskWithEmail/Fault/ProcessFault"/>
        </operation>
        <operation name="completeProject">
            <input wsam:Action="http://ws.attask.lingosys.com/AtTaskWS/completeProjectRequest" message="tns:completeProject"/>
            <output wsam:Action="http://ws.attask.lingosys.com/AtTaskWS/completeProjectResponse" message="tns:completeProjectResponse"/>
            <fault message="tns:ProcessFault" name="ProcessFault" wsam:Action="http://ws.attask.lingosys.com/AtTaskWS/completeProject/Fault/ProcessFault"/>
        </operation>
        <operation name="validateUserPassword">
            <input wsam:Action="http://ws.attask.lingosys.com/AtTaskWS/validateUserPasswordRequest" message="tns:validateUserPassword"/>
            <output wsam:Action="http://ws.attask.lingosys.com/AtTaskWS/validateUserPasswordResponse" message="tns:validateUserPasswordResponse"/>
            <fault message="tns:ProcessFault" name="ProcessFault" wsam:Action="http://ws.attask.lingosys.com/AtTaskWS/validateUserPassword/Fault/ProcessFault"/>
        </operation>
        <operation name="validateUserRole">
            <input wsam:Action="http://ws.attask.lingosys.com/AtTaskWS/validateUserRoleRequest" message="tns:validateUserRole"/>
            <output wsam:Action="http://ws.attask.lingosys.com/AtTaskWS/validateUserRoleResponse" message="tns:validateUserRoleResponse"/>
            <fault message="tns:ProcessFault" name="ProcessFault" wsam:Action="http://ws.attask.lingosys.com/AtTaskWS/validateUserRole/Fault/ProcessFault"/>
        </operation>
        <operation name="getProjectFinancial">
            <input wsam:Action="http://ws.attask.lingosys.com/AtTaskWS/getProjectFinancialRequest" message="tns:getProjectFinancial"/>
            <output wsam:Action="http://ws.attask.lingosys.com/AtTaskWS/getProjectFinancialResponse" message="tns:getProjectFinancialResponse"/>
            <fault message="tns:ProcessFault" name="ProcessFault" wsam:Action="http://ws.attask.lingosys.com/AtTaskWS/getProjectFinancial/Fault/ProcessFault"/>
        </operation>
        <operation name="createClientCompany">
            <input wsam:Action="http://ws.attask.lingosys.com/AtTaskWS/createClientCompanyRequest" message="tns:createClientCompany"/>
            <output wsam:Action="http://ws.attask.lingosys.com/AtTaskWS/createClientCompanyResponse" message="tns:createClientCompanyResponse"/>
            <fault message="tns:ProcessFault" name="ProcessFault" wsam:Action="http://ws.attask.lingosys.com/AtTaskWS/createClientCompany/Fault/ProcessFault"/>
        </operation>
        <operation name="getAccessLevelByUsername">
            <input wsam:Action="http://ws.attask.lingosys.com/AtTaskWS/getAccessLevelByUsernameRequest" message="tns:getAccessLevelByUsername"/>
            <output wsam:Action="http://ws.attask.lingosys.com/AtTaskWS/getAccessLevelByUsernameResponse" message="tns:getAccessLevelByUsernameResponse"/>
            <fault message="tns:ProcessFault" name="ProcessFault" wsam:Action="http://ws.attask.lingosys.com/AtTaskWS/getAccessLevelByUsername/Fault/ProcessFault"/>
        </operation>
        <operation name="createLinguistInformation">
            <input wsam:Action="http://ws.attask.lingosys.com/AtTaskWS/createLinguistInformationRequest" message="tns:createLinguistInformation"/>
            <output wsam:Action="http://ws.attask.lingosys.com/AtTaskWS/createLinguistInformationResponse" message="tns:createLinguistInformationResponse"/>
            <fault message="tns:ProcessFault" name="ProcessFault" wsam:Action="http://ws.attask.lingosys.com/AtTaskWS/createLinguistInformation/Fault/ProcessFault"/>
        </operation>
        <operation name="uploadFileToEstimateTask">
            <input wsam:Action="http://ws.attask.lingosys.com/AtTaskWS/uploadFileToEstimateTaskRequest" message="tns:uploadFileToEstimateTask"/>
            <output wsam:Action="http://ws.attask.lingosys.com/AtTaskWS/uploadFileToEstimateTaskResponse" message="tns:uploadFileToEstimateTaskResponse"/>
            <fault message="tns:ProcessFault" name="ProcessFault" wsam:Action="http://ws.attask.lingosys.com/AtTaskWS/uploadFileToEstimateTask/Fault/ProcessFault"/>
        </operation>
        <operation name="attachFileToEstimateTask">
            <input wsam:Action="http://ws.attask.lingosys.com/AtTaskWS/attachFileToEstimateTaskRequest" message="tns:attachFileToEstimateTask"/>
            <output wsam:Action="http://ws.attask.lingosys.com/AtTaskWS/attachFileToEstimateTaskResponse" message="tns:attachFileToEstimateTaskResponse"/>
            <fault message="tns:ProcessFault" name="ProcessFault" wsam:Action="http://ws.attask.lingosys.com/AtTaskWS/attachFileToEstimateTask/Fault/ProcessFault"/>
        </operation>
        <operation name="getLinguistStandardRates">
            <input wsam:Action="http://ws.attask.lingosys.com/AtTaskWS/getLinguistStandardRatesRequest" message="tns:getLinguistStandardRates"/>
            <output wsam:Action="http://ws.attask.lingosys.com/AtTaskWS/getLinguistStandardRatesResponse" message="tns:getLinguistStandardRatesResponse"/>
        </operation>
        <operation name="getLingoNETLinguistAccounts">
            <input wsam:Action="http://ws.attask.lingosys.com/AtTaskWS/getLingoNETLinguistAccountsRequest" message="tns:getLingoNETLinguistAccounts"/>
            <output wsam:Action="http://ws.attask.lingosys.com/AtTaskWS/getLingoNETLinguistAccountsResponse" message="tns:getLingoNETLinguistAccountsResponse"/>
            <fault message="tns:ProcessFault" name="ProcessFault" wsam:Action="http://ws.attask.lingosys.com/AtTaskWS/getLingoNETLinguistAccounts/Fault/ProcessFault"/>
        </operation>
        <operation name="getInternalStandardRates">
            <input wsam:Action="http://ws.attask.lingosys.com/AtTaskWS/getInternalStandardRatesRequest" message="tns:getInternalStandardRates"/>
            <output wsam:Action="http://ws.attask.lingosys.com/AtTaskWS/getInternalStandardRatesResponse" message="tns:getInternalStandardRatesResponse"/>
            <fault message="tns:ProcessFault" name="ProcessFault" wsam:Action="http://ws.attask.lingosys.com/AtTaskWS/getInternalStandardRates/Fault/ProcessFault"/>
        </operation>
        <operation name="createFileTreatmentTask">
            <input wsam:Action="http://ws.attask.lingosys.com/AtTaskWS/createFileTreatmentTaskRequest" message="tns:createFileTreatmentTask"/>
            <output wsam:Action="http://ws.attask.lingosys.com/AtTaskWS/createFileTreatmentTaskResponse" message="tns:createFileTreatmentTaskResponse"/>
            <fault message="tns:ProcessFault" name="ProcessFault" wsam:Action="http://ws.attask.lingosys.com/AtTaskWS/createFileTreatmentTask/Fault/ProcessFault"/>
        </operation>
        <operation name="projectAwaitingClientApproval">
            <input wsam:Action="http://ws.attask.lingosys.com/AtTaskWS/projectAwaitingClientApprovalRequest" message="tns:projectAwaitingClientApproval"/>
            <output wsam:Action="http://ws.attask.lingosys.com/AtTaskWS/projectAwaitingClientApprovalResponse" message="tns:projectAwaitingClientApprovalResponse"/>
            <fault message="tns:ProcessFault" name="ProcessFault" wsam:Action="http://ws.attask.lingosys.com/AtTaskWS/projectAwaitingClientApproval/Fault/ProcessFault"/>
        </operation>
        <operation name="createLNEstimateProject">
            <input wsam:Action="http://ws.attask.lingosys.com/AtTaskWS/createLNEstimateProjectRequest" message="tns:createLNEstimateProject"/>
            <output wsam:Action="http://ws.attask.lingosys.com/AtTaskWS/createLNEstimateProjectResponse" message="tns:createLNEstimateProjectResponse"/>
            <fault message="tns:ProcessFault" name="ProcessFault" wsam:Action="http://ws.attask.lingosys.com/AtTaskWS/createLNEstimateProject/Fault/ProcessFault"/>
        </operation>
        <operation name="createClient">
            <input wsam:Action="http://ws.attask.lingosys.com/AtTaskWS/createClientRequest" message="tns:createClient"/>
            <output wsam:Action="http://ws.attask.lingosys.com/AtTaskWS/createClientResponse" message="tns:createClientResponse"/>
            <fault message="tns:ProcessFault" name="ProcessFault" wsam:Action="http://ws.attask.lingosys.com/AtTaskWS/createClient/Fault/ProcessFault"/>
        </operation>
        <operation name="getProject">
            <input wsam:Action="http://ws.attask.lingosys.com/AtTaskWS/getProjectRequest" message="tns:getProject"/>
            <output wsam:Action="http://ws.attask.lingosys.com/AtTaskWS/getProjectResponse" message="tns:getProjectResponse"/>
            <fault message="tns:ResourceNotExistFault" name="ResourceNotExistFault" wsam:Action="http://ws.attask.lingosys.com/AtTaskWS/getProject/Fault/ResourceNotExistFault"/>
            <fault message="tns:ProcessFault" name="ProcessFault" wsam:Action="http://ws.attask.lingosys.com/AtTaskWS/getProject/Fault/ProcessFault"/>
        </operation>
        <operation name="getClientList">
            <input wsam:Action="http://ws.attask.lingosys.com/AtTaskWS/getClientListRequest" message="tns:getClientList"/>
            <output wsam:Action="http://ws.attask.lingosys.com/AtTaskWS/getClientListResponse" message="tns:getClientListResponse"/>
        </operation>
        <operation name="loadClient">
            <input wsam:Action="http://ws.attask.lingosys.com/AtTaskWS/loadClientRequest" message="tns:loadClient"/>
            <output wsam:Action="http://ws.attask.lingosys.com/AtTaskWS/loadClientResponse" message="tns:loadClientResponse"/>
            <fault message="tns:ResourceNotExistFault" name="ResourceNotExistFault" wsam:Action="http://ws.attask.lingosys.com/AtTaskWS/loadClient/Fault/ResourceNotExistFault"/>
        </operation>
        <operation name="createUser">
            <input wsam:Action="http://ws.attask.lingosys.com/AtTaskWS/createUserRequest" message="tns:createUser"/>
            <output wsam:Action="http://ws.attask.lingosys.com/AtTaskWS/createUserResponse" message="tns:createUserResponse"/>
            <fault message="tns:ProcessFault" name="ProcessFault" wsam:Action="http://ws.attask.lingosys.com/AtTaskWS/createUser/Fault/ProcessFault"/>
        </operation>
        <operation name="getLingoStaff">
            <input wsam:Action="http://ws.attask.lingosys.com/AtTaskWS/getLingoStaffRequest" message="tns:getLingoStaff"/>
            <output wsam:Action="http://ws.attask.lingosys.com/AtTaskWS/getLingoStaffResponse" message="tns:getLingoStaffResponse"/>
        </operation>
        <operation name="getLingoUsers">
            <input wsam:Action="http://ws.attask.lingosys.com/AtTaskWS/getLingoUsersRequest" message="tns:getLingoUsers"/>
            <output wsam:Action="http://ws.attask.lingosys.com/AtTaskWS/getLingoUsersResponse" message="tns:getLingoUsersResponse"/>
            <fault message="tns:ProcessFault" name="ProcessFault" wsam:Action="http://ws.attask.lingosys.com/AtTaskWS/getLingoUsers/Fault/ProcessFault"/>
        </operation>
        <operation name="projectDead">
            <input wsam:Action="http://ws.attask.lingosys.com/AtTaskWS/projectDeadRequest" message="tns:projectDead"/>
            <output wsam:Action="http://ws.attask.lingosys.com/AtTaskWS/projectDeadResponse" message="tns:projectDeadResponse"/>
            <fault message="tns:ProcessFault" name="ProcessFault" wsam:Action="http://ws.attask.lingosys.com/AtTaskWS/projectDead/Fault/ProcessFault"/>
        </operation>
        <operation name="createLNTask">
            <input wsam:Action="http://ws.attask.lingosys.com/AtTaskWS/createLNTaskRequest" message="tns:createLNTask"/>
            <output wsam:Action="http://ws.attask.lingosys.com/AtTaskWS/createLNTaskResponse" message="tns:createLNTaskResponse"/>
            <fault message="tns:ProcessFault" name="ProcessFault" wsam:Action="http://ws.attask.lingosys.com/AtTaskWS/createLNTask/Fault/ProcessFault"/>
        </operation>
        <operation name="getJAS">
            <input wsam:Action="http://ws.attask.lingosys.com/AtTaskWS/getJASRequest" message="tns:getJAS"/>
            <output wsam:Action="http://ws.attask.lingosys.com/AtTaskWS/getJASResponse" message="tns:getJASResponse"/>
            <fault message="tns:ProcessFault" name="ProcessFault" wsam:Action="http://ws.attask.lingosys.com/AtTaskWS/getJAS/Fault/ProcessFault"/>
        </operation>
        <operation name="completeTask">
            <input wsam:Action="http://ws.attask.lingosys.com/AtTaskWS/completeTaskRequest" message="tns:completeTask"/>
            <output wsam:Action="http://ws.attask.lingosys.com/AtTaskWS/completeTaskResponse" message="tns:completeTaskResponse"/>
            <fault message="tns:ProcessFault" name="ProcessFault" wsam:Action="http://ws.attask.lingosys.com/AtTaskWS/completeTask/Fault/ProcessFault"/>
        </operation>
    </portType>
    <binding name="AtTaskWSPortBinding" type="tns:AtTaskWS">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <operation name="getUser">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="ResourceNotExistFault">
                <soap:fault name="ResourceNotExistFault" use="literal"/>
            </fault>
        </operation>
        <operation name="getClient">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="ResourceNotExistFault">
                <soap:fault name="ResourceNotExistFault" use="literal"/>
            </fault>
        </operation>
        <operation name="updateUser">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="ProcessFault">
                <soap:fault name="ProcessFault" use="literal"/>
            </fault>
        </operation>
        <operation name="getQuotableProjects">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="ProcessFault">
                <soap:fault name="ProcessFault" use="literal"/>
            </fault>
        </operation>
        <operation name="getAttaskProjectID">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="ResourceNotExistFault">
                <soap:fault name="ResourceNotExistFault" use="literal"/>
            </fault>
        </operation>
        <operation name="getLinguistAccount">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="ProcessFault">
                <soap:fault name="ProcessFault" use="literal"/>
            </fault>
        </operation>
        <operation name="getUserByUsername">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="ProcessFault">
                <soap:fault name="ProcessFault" use="literal"/>
            </fault>
        </operation>
        <operation name="updateLinguistAccount">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="ProcessFault">
                <soap:fault name="ProcessFault" use="literal"/>
            </fault>
        </operation>
        <operation name="getClientCompanyView">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="ProcessFault">
                <soap:fault name="ProcessFault" use="literal"/>
            </fault>
        </operation>
        <operation name="getLinguistView">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="ProcessFault">
                <soap:fault name="ProcessFault" use="literal"/>
            </fault>
        </operation>
        <operation name="getClientCompany">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="ResourceNotExistFault">
                <soap:fault name="ResourceNotExistFault" use="literal"/>
            </fault>
        </operation>
        <operation name="createLinguistContact">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="ProcessFault">
                <soap:fault name="ProcessFault" use="literal"/>
            </fault>
        </operation>
        <operation name="getTaskService">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="ProcessFault">
                <soap:fault name="ProcessFault" use="literal"/>
            </fault>
        </operation>
        <operation name="getLibraryTaskService">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="getLanguageService">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="getClientCompanies">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="getLinguistCompanies">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="attachFileToProject">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="ProcessFault">
                <soap:fault name="ProcessFault" use="literal"/>
            </fault>
        </operation>
        <operation name="updateProjectPricing">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="ProcessFault">
                <soap:fault name="ProcessFault" use="literal"/>
            </fault>
        </operation>
        <operation name="getLinguistAccounts">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="getLingoNETUsers">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="ProcessFault">
                <soap:fault name="ProcessFault" use="literal"/>
            </fault>
        </operation>
        <operation name="getSupportedLanguages">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="ProcessFault">
                <soap:fault name="ProcessFault" use="literal"/>
            </fault>
        </operation>
        <operation name="setProjectStatus">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="ProcessFault">
                <soap:fault name="ProcessFault" use="literal"/>
            </fault>
        </operation>
        <operation name="createAudioTask">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="ProcessFault">
                <soap:fault name="ProcessFault" use="literal"/>
            </fault>
        </operation>
        <operation name="projectCurrent">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="ProcessFault">
                <soap:fault name="ProcessFault" use="literal"/>
            </fault>
        </operation>
        <operation name="createLNProject">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="ProcessFault">
                <soap:fault name="ProcessFault" use="literal"/>
            </fault>
        </operation>
        <operation name="updateWordCounts">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="ProcessFault">
                <soap:fault name="ProcessFault" use="literal"/>
            </fault>
        </operation>
        <operation name="updateCategory">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="ProcessFault">
                <soap:fault name="ProcessFault" use="literal"/>
            </fault>
        </operation>
        <operation name="createTaskWithEmail">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="ProcessFault">
                <soap:fault name="ProcessFault" use="literal"/>
            </fault>
        </operation>
        <operation name="completeProject">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="ProcessFault">
                <soap:fault name="ProcessFault" use="literal"/>
            </fault>
        </operation>
        <operation name="validateUserPassword">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="ProcessFault">
                <soap:fault name="ProcessFault" use="literal"/>
            </fault>
        </operation>
        <operation name="validateUserRole">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="ProcessFault">
                <soap:fault name="ProcessFault" use="literal"/>
            </fault>
        </operation>
        <operation name="getProjectFinancial">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="ProcessFault">
                <soap:fault name="ProcessFault" use="literal"/>
            </fault>
        </operation>
        <operation name="createClientCompany">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="ProcessFault">
                <soap:fault name="ProcessFault" use="literal"/>
            </fault>
        </operation>
        <operation name="getAccessLevelByUsername">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="ProcessFault">
                <soap:fault name="ProcessFault" use="literal"/>
            </fault>
        </operation>
        <operation name="createLinguistInformation">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="ProcessFault">
                <soap:fault name="ProcessFault" use="literal"/>
            </fault>
        </operation>
        <operation name="uploadFileToEstimateTask">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="ProcessFault">
                <soap:fault name="ProcessFault" use="literal"/>
            </fault>
        </operation>
        <operation name="attachFileToEstimateTask">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="ProcessFault">
                <soap:fault name="ProcessFault" use="literal"/>
            </fault>
        </operation>
        <operation name="getLinguistStandardRates">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="getLingoNETLinguistAccounts">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="ProcessFault">
                <soap:fault name="ProcessFault" use="literal"/>
            </fault>
        </operation>
        <operation name="getInternalStandardRates">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="ProcessFault">
                <soap:fault name="ProcessFault" use="literal"/>
            </fault>
        </operation>
        <operation name="createFileTreatmentTask">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="ProcessFault">
                <soap:fault name="ProcessFault" use="literal"/>
            </fault>
        </operation>
        <operation name="projectAwaitingClientApproval">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="ProcessFault">
                <soap:fault name="ProcessFault" use="literal"/>
            </fault>
        </operation>
        <operation name="createLNEstimateProject">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="ProcessFault">
                <soap:fault name="ProcessFault" use="literal"/>
            </fault>
        </operation>
        <operation name="createClient">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="ProcessFault">
                <soap:fault name="ProcessFault" use="literal"/>
            </fault>
        </operation>
        <operation name="getProject">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="ResourceNotExistFault">
                <soap:fault name="ResourceNotExistFault" use="literal"/>
            </fault>
            <fault name="ProcessFault">
                <soap:fault name="ProcessFault" use="literal"/>
            </fault>
        </operation>
        <operation name="getClientList">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="loadClient">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="ResourceNotExistFault">
                <soap:fault name="ResourceNotExistFault" use="literal"/>
            </fault>
        </operation>
        <operation name="createUser">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="ProcessFault">
                <soap:fault name="ProcessFault" use="literal"/>
            </fault>
        </operation>
        <operation name="getLingoStaff">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="getLingoUsers">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="ProcessFault">
                <soap:fault name="ProcessFault" use="literal"/>
            </fault>
        </operation>
        <operation name="projectDead">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="ProcessFault">
                <soap:fault name="ProcessFault" use="literal"/>
            </fault>
        </operation>
        <operation name="createLNTask">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="ProcessFault">
                <soap:fault name="ProcessFault" use="literal"/>
            </fault>
        </operation>
        <operation name="getJAS">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="ProcessFault">
                <soap:fault name="ProcessFault" use="literal"/>
            </fault>
        </operation>
        <operation name="completeTask">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="ProcessFault">
                <soap:fault name="ProcessFault" use="literal"/>
            </fault>
        </operation>
    </binding>
    <service name="LingoAtTaskService">
        <port name="AtTaskWSPort" binding="tns:AtTaskWSPortBinding">
            <soap:address location="http://76.164.32.151:9090/LingoAtTaskService"/>
        </port>
    </service>
</definitions>